*.py[co]

tdbdump.*
settings_local.py

# Sphinx documentation files.
docs/build

# Apache Jena triple store databases.
metocean_store
metocean_tdb
tdb
lib/metocean/tests/tdb

# Created by configuring/running metOcean.
lib/metocean/etc/site.cfg
lib/metocean/nohup.out

# Created by testing metOcean.
lib/metocean/tests/nohup.out
lib/metocean/tests/results/dot_actual

# Created by editors.
*~
\#*
\.\#*
*.swp
